@{
    ViewData["Title"] = "Crear Pedido";
}

<div class="text-center">

    <h1>@ViewData["Title"]</h1>

    <p>

    </p>
    
    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
      <form>
      <table>
        <tr>
           <td>
			        <img alt="Vista previa de la imagen" src="https://estampadosmendoza.com.ar/wp-content/uploads/2017/08/Tela-Floreada.jpg"/>
            </td>
            <td></td><td></td><td></td></td><td></td><td></td></td><td></td><td></td></td><td></td><td></td></td><td></td><td></td></td><td></td><td></td></td><td></td><td></td></td><td></td><td></td>
						<td>
							<select name="dropdown">
                <option value="" disabled selected>Prenda: *</option>
								<option value="CORTE">CORTE</option>
								<option value="SUBLIMACIÓN">SUBLIMACIÓN</option>
								<option value="ENSAMBLE">ENSAMBLE</option>
							</select>
              <input type="text" name="destinatario" placeholder="Valor por unidad (C/U)">
              <br><br>
              <form>
              <h6>DESCRIPCIÓN</h6>
              <textarea name="comment" rows=5 cols=40>
              </textarea>
              </form>
              <br>
              <select name="dropdown" style="width:315px">
                <option value="" disabled selected>Color: *</option>
								<option value="CORTE" style="background-color:Black;"></option>
								<option value="SUBLIMACIÓN" style="background-color:blue;"></option>
								<option value="ENSAMBLE" style="background-color:brown;"></option>
                <option value="CORTE" style="background-color:gray;"></option>
								<option value="SUBLIMACIÓN" style="background-color:green;"></option>
								<option value="ENSAMBLE" style="background-color:orange;"></option>
                <option value="CORTE" style="background-color:pink;"></option>
								<option value="SUBLIMACIÓN" style="background-color:purple;"></option>
								<option value="ENSAMBLE" style="background-color:red;"></option>
                <option value="CORTE" style="background-color:White;"></option>
								<option value="SUBLIMACIÓN" style="background-color:yellow;"></option>
							</select>
						</td>
          </tr>
      </table>  
      <table>
        <tr>
          <td>
          <form>
              <h6>OBSERVACIONES: </h6>
              <textarea name="comment" rows=5 cols=40>
              </textarea>
          </form>
          </td>
          
          <td>
            <label for="nombre">Cantidad :</label> <input type="text" name="destinatario" placeholder="Unidades">
            <br><br>
            <select name="dropdown" style="width:265px">
                <option value="" disabled selected>Insumo: *</option>
								<option value="Resinas">Resinas</option>
								<option value="Lentejuelas">Lentejuelas</option>
								<option value="Arandelas">Arandelas</option>
              	<option value="zafirados">Taches zafirados</option>
								<option value="burbuja">Taches burbuja</option>
								<option value="planos">Taches planos</option>
                <option value="cuadrados">Taches cuadrados</option>
								<option value="grabados">Taches grabados</option>
								<option value="motivos">Taches de motivos</option>
              	<option value="cristales">Piedras cristales</option>
								<option value="láser">Corte láser</option>
								<option value="Pirograbado">Pirograbado</option>
						</select>
            <br><br>
            <div style="text-align: Right;">
            <label for="nombre" >TOTAL :</label>
            </div>
          </td>
          
          <td>
            <select name="dropdown" style="width:220px">
                <option value="" disabled selected>Talla: *</option>
								<option value="XXS">XXS</option>
								<option value="XS">XS</option>
								<option value="S">S</option>
              	<option value="M">M</option>
								<option value="L">L</option>
								<option value="XL">XL</option>
                <option value="XXL">XXL</option>
						</select>
            <br><br>
            <input type="image" src="https://img2.freepng.es/20180318/hfe/kisspng-symbol-plus-and-minus-signs-clip-art-plus-symbol-5aaeb3fea77569.6911227915213987826859.jpg" height="30" width="50"/> <label for="nombre" style="text-align: middle;">Agregar Insumo</label>
            <br><br>
            <input type="text" name="destinatario" placeholder="Valor Total">
          </td>
        </tr>
      </table>
    </form>
    <div style="text-align: center;">
			<button type="button" class="btn btn-success" style="background-color:green;">
				GUARDAR
			</button>
			<button type="button" class="btn btn-success" style="background-color:Yellow;">
				LIMPIAR
			</button>
			<button type="button" class="btn btn-success" style="background-color:red;">
				REGRESAR
			</button>
		</div>
	</div>
</div>


</div>
