@{
    ViewData["Title"] = "Crear Empleado";
}


<div class="text-center">

    <h1>@ViewData["Title"]</h1>
        
    <form>
        <div class="form-outline mb-4 col-7">
            <div class="form-center">
            <input type="text" id="form2Example1" class="form-control" placeholder="Nombre Empleado"/>
            </div>
        </div>
        <div class="form-outline mb-4 col-7">
            <div class="form-center">
            <input type="text" id="form2Example1" class="form-control" placeholder="Cargo"/>
            </div>
        </div>
        <div class="text-center">
            <a class="btn btn-primary btn-block mb-4" href="https://localhost:7137/Home/MenuAdmin">
                Guardar
            </a>
            <a class="btn btn-success btn-block mb-4" href="https://localhost:7137/Home/MenuAdmin">
                Regresar
            </a>
        </div>
    </form>

</div>
