@{
    ViewData["Title"] = "Reportes Stock";
}


<div class="text-center">

    <h1>@ViewData["Title"]</h1>
        
    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center text-info">
				Reportes
			</h3>
			<table class="table table-sm table-hover table-bordered">
				<thead>
					<tr>
						<th>
							Id
						</th>
						<th>
							Insumo
						</th>
						<th>
							Vr. Unitario
						</th>
						<th>
							Cantidad
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							001
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							1000 COP
						</td>
						<td>
							50
						</td>
					</tr>
					<tr class="table-active">
						<td>
							002
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							1500 COP
						</td>
						<td>
							10
						</td>
					</tr>
					<tr class="table-success">
						<td>
							003
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							5000 COP
						</td>
						<td>
							15
						</td>
					</tr>
					<tr class="table-warning">
						<td>
							004
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							1200 COP
						</td>
						<td>
							20
						</td>
					</tr>
					<tr class="table-danger">
						<td>
							005
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							5900 COP
						</td>
						<td>
							20
						</td>
					</tr>
				</tbody>
			</table>
			<nav class="pagination-lg">
				<ul class="pagination">
					<li class="page-item">
						<a class="page-link" href="#">Previous</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">1</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">2</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">3</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">4</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">5</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">Next</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>


</div>
