@{
    ViewData["Title"] = "Menu Admin";
}

<div class="text-center">

    <h1>@ViewData["Title"]</h1>

    <p>

    </p>

    <div class="text-center">
        <a class="btn btn-primary btn-block mb-4" href="https://localhost:7137/Home/CrearEmpleado">
            Crear Empleado
        </a>
    </div>

    <div class="text-center">
        <a class="btn btn-primary btn-block mb-4" href="https://localhost:7137/Home/ActualizarProduccion">
            Actualizar Producción
        </a>
    </div>

    <div class="text-center">
        <a class="btn btn-primary btn-block mb-4" href="https://localhost:7137/Home/Insumos">
            Crear Insumo
        </a>
    </div>

    <div class="text-center">
        <a class="btn btn-primary btn-block mb-4" href="https://localhost:7137/Home/GenerarReportesStock">
            Generar Reportes Stock
        </a>
    </div>

    <div class="text-center">
        <a class="btn btn-primary btn-block mb-4" href="">
            Generar Reportes Productividad
        </a>
    </div>
</div>
