@{
    ViewData["Title"] = "Menu Admin";
}

<div class="text-center">

    <h1>@ViewData["Title"]</h1>

    <p>

    </p>

    <div class="text-center">
        <a class="btn btn-primary btn-block mb-4" href="https://localhost:7137/Home/CrearPedido">
            Crear Pedido
        </a>
    </div>

    <div class="text-center">
        <a class="btn btn-primary btn-block mb-4" href="https://localhost:7137/Home/ModificarPedido">
            Modificar Pedido
        </a>
    </div>

    <div class="text-center">
        <a class="btn btn-primary btn-block mb-4" href="https://localhost:7137/Home/CancelarPedido">
            Cancelar Pedido
        </a>
    </div>

</div>
